{{!
    This page will respond with a valid HTML document with the results returned from the API.

    Here inside of the main element we have a ol tag that has a list of up to 15 characters matching
    the searchCharacterByName found in the request body.
    }}
{{#if result}}
<h1>Marvel Characters Found</h1>

<h2>{{heading}}</h2>
<main>

 <ol >
    {{#each result}}
    <li>
        <a class="orderList" href="/marvelcharacter/{{this.id}}">{{this.name}}</a>
    </li>
    {{/each}}
 </ol>
<a class="backLink" href="/">Search for Another Character</a><br>
</main>
{{/if}}

{{#unless result}}
 <p class="not-found">We're sorry, but no results were found for {{heading}}.</p>
{{/unless}}
<footer>
    <p>Data provided by Marvel. © 2014 Marvel</p>
</footer>
