{{!
this template is to render any errors on site 
}}
{{#if hasErrors}}
  <p class="error">
    {{e}} <br>
    {{msg}} 
  </p>
{{else if charError}}
  <p class="not-found">We're sorry, but no results were found for {{charName}}.</p>
{{/if}}

