<!-- 
This handlebar file will be rendered when the following route is hit: GET http://localhost:3000/
Here, inside of the main element there is have a p element with a brief (2-3 sentence description) of what the website does.
Also inside the main element, there is a form; this form will POST to /searchmarvelcharacters. This form has an input and a label; 
 -->
<h1>Marvel Characters Found</h1>
<main>
<p> 
    You can explore the enormous world of Marvel heroes using this web application. Simply enter the name of a Marvel character and press the "search" button to find up to 15 matching character names. 
    Additionally, you may obtain additional information about specific characters by clicking on their names, with all data coming directly from the Marvel API.
</p>
<form id="formId" method="post" action="/searchmarvelcharacters">
<label class="labelId" for="searchCharacterByName">Enter the Character name: 
    <br><input type="text" name="searchCharacterByName" id="searchCharacterByName" value="{{dataBody.searchCharacterByName}}" placeholder="Enter name here"> <br>
</label>
<label class="labelId" >click here 
   <input class="submitInput" type="submit" value="search">
</label>

</form>
</main>
